---
import Header from '../components/Header.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Test page</title>
	</head>
	<body style = "text-align: center;">
        <Header />
		<slot name = "albums" style="height:80vh;" />
        <slot name = "footer" />
	</body>
</html>

<style>

</style>
