---
import IndexPage from '../layouts/IndexPage.astro';
import AlbumCover from '../components/AlbumCover.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css'
import 'bootstrap/dist/css/bootstrap.min.css';
---

<IndexPage>
    <div
        class = "album-display d-flex justify-content-center align-items-center"
        slot = "albums"
    >
        <!-- ALBUMS -->
    </div>
    <slot slot = "footer">
        <!-- FOOTER -->
    </slot>
</IndexPage>
