---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section style = "display:grid; grid-template-columns: 33% 33% 33%;">
        <div class = "cover"><a href="/VirtualMoments/album1/">Album 1</a></div>
        <div class = "cover">Album 2</div>
        <div class = "cover">Album 3</div>
        
    </section>
</Layout>
