---
import { Image } from 'astro:assets';
import Icon from "../components/Icon.astro"
import LogoMode from "../assets/mode.svg";
import LogoGithub from "../assets/logo/github.svg";
import LogoSteam from "../assets/logo/steam.svg";
import LogoLinkedin from "../assets/logo/linkedin.svg";
---

<header style = "">
    <div class = "header-title" onclick = "window.location.href = '/VirtualMoments'">
        <h1>Virtual Moments</h1>
        <h4>
            by Mateusz Kołomański / Rad<span style = "color:var(--purple);font-weight:bold;">v</span><span style="color:var(--green);font-weight:bold;">v</span>an
        </h4>
    </div>
    <div class = "icons">
        <div class = "card icon-container" onclick = "document.body.classList.toggle('dark')">
            <Image src = {LogoMode} alt = "mode" />
        </div>
        <Icon src = {LogoGithub} alt = "github" href = "https://github.com/m-kolomanski/VirtualMoments" />
        <Icon src = {LogoSteam} alt = "steam" href = "https://steamcommunity.com/id/radvvan" />
        <Icon src = {LogoLinkedin} alt = "linkedin" href = "https://www.linkedin.com/in/mateusz-ko%C5%82oma%C5%84ski-2b82aa1b9/" />
    </div>
</header>