---
import Icon from "../components/Icon.astro"
---

<header style = "">
    <h1>This is test header</h1>
    <div class = "icons">
        <Icon src = "/src/assets/logo/github.svg" alt = "github" href = "https://github.com/m-kolomanski/VirtualMoments" />
        <Icon src = "/src/assets/logo/steam.svg" alt = "steam" href = "https://steamcommunity.com/id/radvvan" />
        <Icon src = "/src/assets/logo/linkedin.svg" alt = "linkedin" href = "https://www.linkedin.com/in/mateusz-ko%C5%82oma%C5%84ski-2b82aa1b9/" />
    </div>
</header>