---
import { Image } from 'astro:assets';
const { src, alt, href } = Astro.props;
---

<div class = "card icon-container">
    <a href = {href} target = "_blank">
        <Image src = {src} alt = {alt} inferSize={true} />
    </a>
</div>