---
import { Image } from 'astro:assets';
const { src, alt } = Astro.props;
---

<div class="card">
    <div class = "card-body">
        <Image
            src={src}
            alt={alt}
            inferSize={true}
        />
    </div>
    <div class = "card-footer">
        <h3>{alt}</h3>
    </div>
</div>
